<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container"><br><br>
            <div class="card">

                <div class="card-header bg-primary">
                    <h1 class="bg-primary text-center">Header</h1>
                </div>
                <div class="card-body">
                    <table class="table table-hover text-center">
                        <tr class="bg-success text-white">
                           <!-- Table Heading -->
                        </tr>
                        <tr>
                           <!-- Table Data -->
                            <td>
                                <a href="#" class="btn btn-success">edit</a>
                                <a href="#" class="btn btn-outline-danger">delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer bg-primary">
                     <h3 class="alert alert-info text-center">Status:Fetched all records...</h3>
                </div>
            </div>
        </div>

</body>
</html>