<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="BASE::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Warehouse</title>
</head>
<body>
<section>
<div class="container"><br>
            <div class="card">

                <div class="card-header bg-primary bg-gradient text-white text-center">
                    <h1>UOM Data</h1>
                </div>
                
                <div class="card-body">
                
                <!-- Search Bar -->
       
               <div class="search-container mb-4">
                  <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Uom Here" />
           
                  <!-- display search result -->
           
                   <div class="search-result">
                    <h3></h3>
                   </div>
                </div> 
                
                <!--Closed Search Bar -->     
                
                <a th:href="@{/uom/}" class="btn btn-success menu">Add More Uom</a>
                <a th:href="@{/uom/excel}" class="btn btn-success menu ">EXCEL EXP</a>
                <a th:href="@{/uom/pdf}" class="btn btn-success menu">PDF EXP</a>
                <a th:href="@{/uom/pie-chart}" class="btn btn-success menu ">Pie-Chart</a>
                <a th:href="@{/uom/bar-chart}" class="btn btn-success menu">Bar-Chart</a>
                    <table class="table table-hover text-center mt-1">
                        <tr class="bg-success text-white">
                           <th>ID</th>
                           <th>Uom Type</th>
                           <th>Uom Model</th>
                           <th>Description</th>
                           <th>Option</th>
                        </tr>
                        <tr th:each="uom:${list}">
                           <td th:text="${uom.id}"></td>
                           <td th:text="${uom.uomType}"></td>
                           <td th:text="${uom.uomModel}"></td>
                           <td th:text="${uom.uomDiscription}"></td>
                            <td>
                                <a th:href="@{/uom/edit?id={uom_id}(uom_id=${uom.id})}" class="btn btn-primary btn-sm">edit</a>
                                <a th:href="@{/uom/delete?id={uom_id}(uom_id=${uom.id})}" class="btn btn-danger btn-sm">delete</a>
                            </td>
                        </tr>
                    </table>
                    
                    <!-- Pagination -->
                    
<nav aria-label="Page navigation example" class="nav justify-content-center">
  <ul class="pagination">
    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{/uom/all?page={cp}(cp=${currentPage-1})}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}" class="page-item">
        <a th:href="@{/uom/all?page={i}(i=${i-1})}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
        
    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{/uom/all?page={cp}(cp=${currentPage+1})}" class="page-link" href="#">Next</a></li>
    
  </ul>
</nav>
                    
                </div>
                <div class="card-footer bg-primary bg-gradient">
                     <!-- <div class="alert alert-info text-center">Status:Fetched all records...</div> -->
                </div>
            </div>
        </div>
       
      <!-- Searching Module Function -->
         
        <script>
       

        const search=()=>{
          //console.log("searching....");
        let query=$("#search-input").val();
        if(query=="")
        {
          $(".search-result").hide();
        }
        else{
          //sending req to server.
        	
        	let url=`http://localhost:9999/search/${query}`;
          fetch(url).then((response)=>{
           return response.json();
          })
          .then((data)=>{
            //access data
            console.log(data);
            let text =`<div class='list-group'>`
            
              data.forEach((c) => {
                text +=`<a href='/user/${c.cid}/contact' class='list-group-item list-group-item-action'>${c.name} </a>`
              });

            text +=`</div>`

            $(".search-result").html(text);
            $(".search-result").show();
          });
        }
        };

        
        </script>
        
</section>
</body>
</html>