<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
<section>
<div class="card mr-4 ml-3" th:if="${contact}">
        <h1 class="text-center bg-primary text-white">Contact Details</h1>
    <div class="card-body" >
      
           <div class="container text-center ">
               <img alt="profilePhoto" style="height: 200px; width: 200px;" src="" th:src="@{'/img/download/'+${contact.image}}" class="my-profile-picture">
                    
                    <h3 class="mt-3">
                    <span th:text="${contact.name}"> </span> (<span th:text="${contact.secondName}"></span> )
                    </h3>
                    
                    <!-- Table -->
                    <div class="table-responsive">
                      <table class="table table-hover text-center">
                 <tbody>
                        <tr>
                           <th class="bg-primary text-white">#ID :</th><th th:text="${'SCM2020'+contact.cid}"></th>
                         </tr>
                         <tr>
                            <th class="bg-primary text-white">Name :</th><td th:text="${contact.name}"></td>
                         </tr> 
                         <tr>
                            <th class="bg-primary text-white">Second Name :</th><td th:text="${contact.secondName}"></td>
                         </tr> 
                         <tr>
                            <th class="bg-primary text-white">Work :</th><td th:text="${contact.work}" ></td>
                         </tr>
                           <tr>
                             <th class="bg-primary text-white">Email :</th><td th:text="${contact.email}"><td>
                           </tr>
                           <tr>
                             <th class="bg-primary text-white">Phone :</th><td th:text="${contact.phoneNo}"></td>
                           </tr>
                           <tr>
                              <th class="bg-primary text-white">Description :</th><td th:utext="${contact.description}"></td>
                           </tr>
                       </tbody>    
                    </table>
                    </div>
                 
              </div>
                    <div class="container mt-3">
                     <form th:action="@{'/user/update-contact/'+${contact.cid}}" method="post">
                    <a href="#" th:onclick="|deleteContact(${contact.cid})|" class="btn btn-danger btn-block">delete</a>
                    <button type="submit" class="btn bg-primary text-white btn-block">update</button>
                    </form>
                    </div>
                          
                       
      
    </div>
   </div>
    <h2 class="text-center bg-danger p-3 text-white" th:unless="${contact}">You don't have permission to see this contact...</h2>
   <script>
    $(document).ready(()=>{
        $(".item").removeClass("active");
        $("#contact-link").addClass("active");
    });

</script>
</section>
</body>
</html>