<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="normal/base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}"></title>
</head>
<body>
<section>

<div class="card mr-4 ml-3">
     <h1 class="text-center bg-primary text-white">Your Contacts</h1>
   <div class="card-body" >
    
    <!-- Search Bar -->
       
       <div class="search-container mb-4">
           <input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search Your Contacts" />
           
           <!-- display search result -->
           
           <div class="search-result">
            <h3></h3>
           </div>
       </div>      
              
           
          
      <!-- Table -->
      <div class="table-responsive">
      <table class="table table-hover text-center ">
                        <tr class="bg-primary text-white">
                           <th>#ID</th>
                           <th>Name</th>
                           <th>Email</th>
                           <th>Phone</th>
                           <th>Description</th>
                           <th>Action</th>
                           
                        </tr>
                        <tr th:each="c:${contacts}">
                           <th scope="row" th:text="${'SCM2020'+c.cid}"></th>
                           <td>
                           <img alt="profilePhoto" src="" th:src="@{'/img/download/'+${c.image}}" class="my-profile-picture">
                           <span th:text="${c.name}"></span>
                           </td>
                           <td>
                            <a th:href="@{'/user/'+${c.cid}}+'/contact'"><span th:text="${c.email}"></span></a>
                           </td>
                           <td th:text="${c.phoneNo}"></td>
                           <td th:utext="${c.description}"></td>
                            <td>
                              <form th:action="@{'/user/update-contact/'+${c.cid}}" method="post">
                                <a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">delete</a>
                                
                                <button type="submit" class="btn bg-primary text-white btn-sm">update</button>
                               </form>
                             </td>
                        </tr>
                    </table>
      </div>
                    <!-- Pagination -->
                    
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}" class="page-item">
        <a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
        
    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
    
  </ul>
</nav>
                       
      
    </div>
</div>
 <script>
    $(document).ready(()=>{
        $(".item").removeClass("active");
        $("#show-link").addClass("active");
    });

</script>
</section>
</body>
</html>