<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	th:replace="BASE::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Home Page</title>
</head>
<body>
	<section>
	<div class="container "><br>
	<div class="card">
		<div class="card-header text-center bg-primary bg-gradient text-white font-weight-bold">
			<h1>Welcome to WareHouse</h1>
		</div>
		<div class="card-body text-center">
		  
					
  <img src="/images/bg-footer.png" width="1000" height="200">
  
  <img src="/images/header-2.jpg" width="1000" height="400">

 <img src="/images/hdr.png" width="1000" height="400">


					

				</div>
				<div class="card-footer bg-primary bg-gradient">
				</div>
		</div>
	</div>
	</section>
</body>
</html>