<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:replace="base::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title th:text="${title}">Home Page</title>
</head>
<body>
<section>
<div class="card mr-4 ml-4">
        <h1 class="text-center bg-primary text-white font-weight-bold mt-1">About</h1>
    <div class="card-body" >
      
           <div class="container text-center">
             <h2 class="text-center bg-primary text-white">Smart Contact Manager</h2>
              
              <div class="container text-left mt-5 md-5">
              <p>
                  A contact manager is a software program that enables users to easily store and find contact information, such as names, addresses, and telephone numbers. They are contact-centric databases that provide a fully integrated approach to tracking all information and communication activities linked to contacts. Simple ones for personal use are included in most smartphones. The main reference standard for contact data and metadata, semantic and interchange, is the vCard.
                </p>
                
                <p>
                In management terminology, advanced contact managers can be called individual resource management (IRM) or contact management (CM) tools – systems for managing an individual's interactions with current and future contacts, to organize, collaborate, and synchronize health, lifestyle, and financial needs.
                </p>
                <h3 class="text-center bg-primary text-white mt-5">contactmanagersmart@gmail.com</h3>
              </div>
                
              </span>
              
          </div>
           
    </div>
</div>  
</section>
</body>
</html>